---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body {% if page.class %}class="{{ page.class }}"{% endif %}>

    {% include svg/defs.html %}

    {% include cover.html %}

    <div class="page-content">

      <div class="wrapper">
        <nav class="nav">
          <ul>
            {% for node in site.posts reversed %}
            {% capture id %}{{ node.id | remove:'/'| downcase }}{% endcapture %}
              <li class="{{id}}"><a class="nav_link" href="#{{id}}"><small>{{ node.chapter'}} </small><h3>{{node.title | upcase}}</h3></a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>

      {% for page in site.posts reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}

      <div id="{{id}}" class="chapter {{id}}">

        <div class="chapter_title">

          <div class="wrapper">

            <a class="site_logo" href="{{ site.baseurl }}/" alt ="{{ site.title }}" >

              {% include svg/use.html id="icn--circlelogo" class="site_logo_svg--chapter" %}

            </a>

            <h1>
              <small>chapter {{ page.chapter }} </small>
              <br>
              {{ page.title }}
            </h1>

          </div>

        </div>

        <div class="wrapper">

          <div class="chapter_content {{ page.style }}">

            {{ page.content }}

          </div>

        </div>

      </div>

      {% endfor %}

    </div>

    {% include footer.html %}

  </body>

</html>
