---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include svg/defs.html %}

    {% include cover.html %}

    <div class="page-content">

      {% include nav.html %}

      {% for page in site.posts reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}

      <div id="{{id}}" class="{%if page.style%}addon {{page.style}}{%else%}chapter {% endif%}">

        <div class="chapter_title">

          <div class="wrapper">

            <a class="site_logo" href="{{ site.baseurl }}/" alt ="{{ site.title }}" >

              {% include svg/use.html id="icn--circlelogo" class="site_logo_svg--chapter" %}

            </a>

            <h1>
              {% if page.style %}
              <small> </small>
              {% else %}
              <small>chapter {{ page.chapter }} </small>
              {% endif %}

              <br>
              {{ page.title }}
            </h1>

          </div>

        </div>

        <div class="wrapper">

          <div class="chapter_content">

            {{ page.content }}

          </div>

        </div>

      </div>

      {% endfor %}

    </div>

    {% include footer.html %}

  </body>

</html>
