---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class=" ">

    {% include svg/defs.html %}

    <div class="menu_toggle" id="toggle_menu">
      <span id="menu_ico" class="menu_ico ">☰</span>
      <span id="close_ico" class="close_ico hide">X</span>
    </div>

    <div class="page_wrapper">

      <!-- nav -->
      <nav class="navigation_menu hide" id="navigation_menu">

        {% for node in site.posts reversed %}
        {% capture id %}{{ node.id |remove:'/'|remove:'20160101'|remove:'20160102'|remove:'20160103'|remove:'20151231'| downcase }}{% endcapture %}

          <a class="{{id}} {% if node.style %}variant {{node.style}}{% endif %}" href="#{{id}}">
            {% if node.style %}<small> </small>
            {% else %}<small>{{ node.chapter}} </small>
            {% endif %}
            <span>{{node.title | upcase}}</span>
          </a>

        {% endfor %}
      </nav>

      <main class="">

        {% include cover.html %}

        {% for page in site.posts reversed %}
        {% capture id %}{{ page.id |remove:'/'|remove:'20160101'|remove:'20160102'|remove:'20160103'|remove:'20151231'| downcase  }}{% endcapture %}

        <div id="{{id}}" class="{%if page.style%}addon {{page.style}}{%else%}chapter {% endif%}">

          {% if page.bookpage %}
            <div class="chapter_page_anchor" id="page-{{ page.bookpage }}"><a href="#page-{{ page.bookpage }}"></a></div>
          {% endif %}

          {% include chapter_title.html %}

            <div class="chapter_content">

              <div class="wrapper">

                {{ page.content }}

              </div>

            </div>

          </div>

        {% endfor %}

        {% include footer.html %}

      </main>

    </div>

    {% include script_menu_toggle.html %}

    {% include script_blank.html %}

    {% include script_upup.html %}

  </body>

</html>
