<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <ul class="contact_list">

      <li>{{ site.description }}</li>
      
      <li><strong>This web project is not yet ready!</strong>
        Plan is to make it an "Offline-Ready" Web App that runs in your Android browser. Developed by: <a href="{{ site.producer.url }}">{{ site.producer.name }}</a>
      </li>

      {% if site.email %}
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      {% endif %}

      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}


    </ul>

  </div>

</footer>
