<footer class="site-footer" id="footer">

  <div class="wrapper">

    <a class="circlelogofooter" href="#top">{% include svg/use.html id="icn--circlelogofooter" class="site_logo_svg--footer" %}</a>

    <h2 class="footer-heading">{{ site.title }}</h2>

    <ul class="contact_list">

      <li>Where There Is No Doctor {{ site.description }} <a href="#about-this-guide-book">Read more...</a></li>


      <li>
        <strong>This book is a Web App that works offline too!</strong> In Chrome Android browser you can "Add to Home Screen". It will appear on your home screen and it will work offline. After that the whole book is on your android. Could be usefull in your next jungle trek! Or have as a library for quick reference while on the go, if you are involved in health related activities.
        <br><br>
        While this project is fully working, we're in Beta stage! Want to contribute? There a <a class="inline"  href="{{site.repository_url}}">Repo</a> for that! (..we need translations!)
      </li>

      <li>EU Privacy policy: <small>We log what Google Analytics enable us to, like everyone else, in order to improve book experience and... global health. Cookies here are used to enable offline functionality. This webapp save your privacy in a better way than all those EU institutions that serve their pages over http, we use https.</small></li>

      <li>
        <span>
          Developer: <a href="{{ site.producer.url }}">{{ site.producer.name }}</a>
          {% if site.email %}
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          {% endif %}
        </span>

        &nbsp;

        {% if site.github_username %}
        <span>
          {% include icon-github.html username=site.github_username %}
        </span>
        {% endif %}


        &nbsp;

      </li>


    </ul>

  </div>

</footer>
