<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <ul class="contact_list">

      <li>{{ site.description }}</li>

      <li><strong>This Web App project is not yet ready!</strong>
        The whole book content will be available as Web-Site-App that runs in your Android browser and can be accessed also when your are offline.
      </li>

      <li>
        Developer: <a href="{{ site.producer.url }}">{{ site.producer.name }}</a>
        {% if site.email %}
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        {% endif %}
      </li>

      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}


    </ul>

  </div>

</footer>
