<nav class="navigation_menu hide" id="navigation_menu">

  {% for node in site.posts reversed %}

  {% capture id %}{{ node.id |remove:'/'|remove:'20160101'|remove:'20160102'|remove:'20160103'|remove:'20151231'| downcase }}{% endcapture %}

  <a class="menu_link {{id}} {% if node.style %}variant {{node.style}}{% endif %}" href="#{{id}}">
    {% if node.style %}<small> </small>
    {% else %}<small>{{ node.chapter}} </small>
    {% endif %}
    <span>{{node.title | upcase}}</span>
  </a>

  {% endfor %}

  <div class="menu_footer">

    <div class="menu_link footnotes powersaving_switch">
      <span>
        <div class="label">Power saving Dark Mode</div>
      </span>
      <span>
        <input type="checkbox" id="dark_mode_switch">
        <label for="dark_mode_switch"><i></i></label>
      </span>
    </div>
    
    <a class="menu_link footnotes" href="#footer">About this web app
    </a>

    <div class="menu_link variant qr">

      <span>Share via QRcode</span>

      {% include svg/use.html id="icn--qr" class="svg_qr" %}

    </div>

  </div>
</nav>
