<div class="mdl-layout__drawer">

  <span class="mdl-layout-title">Chapters</span>

  <nav class="mdl-navigation">

    {% for node in site.posts reversed %}
    {% capture id %}{{ node.id |remove:'/'|remove:'20160101'|remove:'20160102'|remove:'20160103'|remove:'20151231'| downcase }}{% endcapture %}


        <a class="{{id}} {% if node.style %}variant {{node.style}}{% endif %}  mdl-navigation__link" href="#{{id}}">
          {% if node.style %}<small> </small>
          {% else %}<small>{{ node.chapter}} </small>
          {% endif %}
          <span>{{node.title | upcase}}</span>
        </a>

    {% endfor %}

  </nav>
</div>
