<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@rokmatwit">
<meta name="twitter:creator" content="@rokmatwit">
<meta name="twitter:image:src" content="https://junglesta.github.io/wherenodoctor/assets/p/screen.jpg">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">


<!-- Open Graph -->
<meta property="og:locale" content="en_US">
<meta property="og:locale:alternate" content="en_US" />
<meta property="og:type" content="article">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:image" content="https://junglesta.github.io/wherenodoctor/assets/p/screen.jpg">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}">
<meta property="og:site_name" content="{{ site.title }}">
