<script type="text/javascript">
  /* code that SPEAKs: toggle menu */
  function toggleClass(element, className){
      if (!element || !className){
          return;
      }

      var classString = element.className, nameIndex = classString.indexOf(className);
      if (nameIndex == -1) {
          classString += ' ' + className;
      }
      else {
          classString = classString.substr(0, nameIndex) + classString.substr(nameIndex+className.length);
      }
      element.className = classString;
  }

  document.getElementById('toggle_menu').addEventListener('click', function() {
    toggleClass(document.getElementById('navigation_menu'), 'hide'),
    toggleClass(document.getElementById('menu_ico'), 'hide'),
    toggleClass(document.getElementById('close_ico'), 'hide'),
    toggleClass(document.body, ' showing_menu');
  });

  document.getElementById('navigation_menu').addEventListener('click', function() {
    toggleClass(document.getElementById('navigation_menu'), 'hide'),
    toggleClass(document.getElementById('menu_ico'), 'hide'),
    toggleClass(document.getElementById('close_ico'), 'hide'),
    toggleClass(document.body, ' showing_menu');
  });
</script>
