.chapter {
  padding-bottom: $spacing_unit*2;
  margin-bottom: $spacing_unit*4;

}

.chapter_title {
  background-color: lighten($brand_color, 40%);
  small {
    color: $background_color;
  }
  .yellow-pages & {
    background-color: $yellow-pages;
  }
  .green-pages & {
    background-color: $green-pages;
  }
}

.chapter_content {
  margin-top:  $spacing_unit;
}

.site_logo_svg--chapter {
  margin-top: $spacing_unit;
  max-width: 150px;
}
