.chapter {
  padding-bottom: $spacing_unit*2;
  margin-bottom: $spacing_unit*4;
  position: relative;
}

.chapter_no {
  pointer-events: none;
  color: rgba(255,255,255,.5);
  font-size: 30rem;
  position: absolute;
  top: -95px;
  right: 10px;
  font-weight: 100;
  line-height: 1;
  text-align: right;
  z-index: 0;
  letter-spacing: -3rem;
}

.chapter_title {
  overflow: hidden;
  background-color: transparentize(lighten($brand_color, 40%), .5);

  h1 {
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }

  small {
    color: $background_color;
  }

  .yellow & {
    background-color: $color_yellow;
  }
  .green & {
    background-color: $color_green;
  }
  .brown & {
    background-color: $color_brown;
  }
  .red & {
    background-color: lighten($color_red, 20%);
  }

  .grey & {
    background-color: lighten($color_grey--light, 20%);
  }
  .blue & {
    background-color: lighten($brand_color, 50%);
  }
}

.chapter_content {
  margin-top: $spacing_unit*2;
  padding-bottom:  $spacing_unit*2;
}

.site_logo_svg--chapter {
  margin-top: $spacing_unit;
  max-width: 150px;
}
