//cover styles
.cover {
  background-color:  $background_color_tone;
}
.site_logo{ //a
  display: block;
  width: 100%;
  position: relative;
  z-index: 10;
}

.site_logo_svg--cover {
  display: block;
  width:100%;
  min-height: 50vh;
}
