
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing_unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing_unit / 2;
}

.contact_list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}
