a#markdown-toc-a,
a#markdown-toc-b,
a#markdown-toc-c,
a#markdown-toc-d,
a#markdown-toc-e,
a#markdown-toc-f,
a#markdown-toc-g,
a#markdown-toc-h,
a#markdown-toc-i,
a#markdown-toc-j,
a#markdown-toc-k,
a#markdown-toc-l,
a#markdown-toc-m,
a#markdown-toc-n,
a#markdown-toc-o,
a#markdown-toc-p,
a#markdown-toc-q,
a#markdown-toc-r,
a#markdown-toc-s,
a#markdown-toc-t,
a#markdown-toc-u,
a#markdown-toc-v,
a#markdown-toc-w,
a#markdown-toc-x,
a#markdown-toc-y,
a#markdown-toc-z {
  color: red;
  width: 40px;
  height: 40px;
  float: left;
  border: 1px solid black;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 40px;
  margin: 10px;
}
a#markdown-toc-information-on-medicines {
  clear: both;
  display: block;
  padding-top: 1rem;
}
