nav {

  margin-bottom: $spacing_unit*3;

  small {
    display: none;
    @include media( "screen", ">bp1Width") {
      display: inline-block;
      float: left;
      min-width: 30px;
    }
  }
  ul {
    list-style: none;
    margin-left: 0;
  }
  li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    background-color: none!important;
  }
  small {
    padding-right: .5rem;
    margin-right: 1rem;
  }
  a.active { color: black; }
  a:active {
    color: invert($brand_color);
    border: 0 none;
  }
  a:visited {
    color: lighten($brand_color, 40);
  }
  .nav_link {
    // main menu in home
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    text-decoration: none;
    min-width: 100%;
    border-bottom: 0 none;
    &:hover {
      border-bottom: 0 none;
      &:before {
        content: "-";
        //background:svg_hand;
        color: white;
      }
    }
  }
}


.variant {
  a {
    margin-top: $spacing_unit/4;
    margin-bottom: $spacing_unit/4;
    border-bottom: 0 none;
    &:hover {
      border-bottom: 0 none;
    }
  }
  &.yellow a {
    border-left: 4px solid $color_yellow;
  }
  &.green a {
    border-left: 4px solid $color_green;
  }
  &.red a {
    border-left: 4px solid $color_red;
  }
  &.brown a {
    border-left: 4px solid $color_brown;
  }
  &.blue a {
    border-left: 4px solid lighten($brand_color, 40%);
  }
  &.grey a {
    border-left: 4px solid $color_grey--light;
  }
  h3 {
    padding-left: 1rem;
    margin-top: $spacing_unit/2;
  }
}

.mdl-layout__drawer-button {
  color: white;
  background-color: $brand_color;
  border-radius: 50%;
}
