nav {
  background-color: $menu_bg_color;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  box-sizing: border-box;
  width: 100%;
  height: $nav_height;
  overflow-x: hidden;
  overflow-y: scroll;
  //-webkit-transition: all .2s ease-in;

  a {
    color: white;
    display: block;
    position: relative;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: .5rem 0 .5rem 2rem;
    border:0 none;

    &:visited {
      color: lighten($brand_color, 40);
    }

    &:hover {
      border:0 none;
      color: white;
      opacity: .75;
    }
    &:active,
    &.active {
      color: invert($brand_color);
      border: 0 none;
    }

  }
  a:first-child {margin-top: $spacing_unit*4;}
  a:last-child {margin-bottom: $spacing_unit*4;}

  small {
    display: none;
    @include media( "screen", ">bp1Width") {
      min-width: 30px;
      padding-right: .5rem;
      margin-right: 1rem;
      margin-left: -30px;
      display: block;
      float: left;
      height: 100%;
      position: absolute;
      font-size: 20px;
      line-height: 25.2px;
      opacity: .3;
    }
  }
}

.variant {}
