
.nav {
  margin-bottom: $spacing_unit*3;
  small {
    display: none;
    @include media( "screen", ">bp1Width") {
      display: inline-block;
      float: left;
      min-width: 30px;
    }
  }
  ul {
    list-style: none;
    margin-left: 0;
  }
  li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;

    h3, small {
      margin: .5rem;
      line-height: 1.25;
    }
  }
  small {
    padding-right: .5rem;
  }
  a.active {
    color: black;
  }
}


.site-title {//a
  font-size: $h1_font_size;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -1px;
  float: left;
  margin: 1rem 3rem 1rem 0;
  display: block;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}
