$menu_bg_color: $brand_color;
$nav_height: 100vh;

.menu_toggle {//buttons container
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 20;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
}
.menu_ico, .close_ico {//buttons
  color: black;
  &:hover { color: white;}
}

nav,
main {
    box-sizing: border-box;
    display: block;
    //overflow: hidden;
    position: relative;
    //-webkit-transition: all .2s ease-in;
}


nav {
    padding: .5rem;
    height: $nav_height;
    width: 100%;
    overflow-y: scroll;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $menu_bg_color;

    a {
      color: white;
      display: block;
      position: relative;
      margin-left: .5rem;
      margin-right: .5rem;
      padding: .5rem 0 .5rem 3rem;
      border:0 none;
      small {
        margin-left: -42px;
        display: block;
        float: left;
        height: 100%;
        position: absolute;
        font-size: 28px;
        line-height: 28px;
        opacity: .35;
      }
      &:hover {
        border:0 none;
        color: white;
        opacity: .5;
      }
    }
}

main {
    width: 100%;
    min-height: 100%;
    z-index:1;
}
