//save battery styles
body {
  background-color: black;
  color: rgba(255,255,255,.65);
}
blockquote {
  color: rgba(255,255,255,.75);
}

nav {
  background-color: black;
}

a {
  color: $background_color_tone;
  &:hover { color:lighten($background_color_tone, 10%);}
  &:visited {  color:darken($background_color_tone, 10%);}
}

.chapter_no {
  pointer-events: none;
  color: rgba(255,255,255,.15);
}

#markdown-toc {
  border-color: transparentize($brand_color, .6);
  #green-pages & {
    border-color: transparentize($color_green, .15);
  }
}

#markdown-toc ul {
  li {
    border-left-color: transparentize($brand_color, .6);
    #green-pages & {
      border-left-color: transparentize($color_green, .15);
    }
  }
  ul li {
    border-left-color: transparentize($brand_color, .6);
    #green-pages & {
      border-left-color: transparentize($color_green, .15);
    }
  }
}

p strong {
  font-weight: normal;
  color: white;
}
p a {
  color: rgba(255,255,255,1);
  border-color: rgba(255,255,255,.25);
  &:hover {
    color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,.5);
  }
}


.addon {
  &.green {
    background-color: transparent;
    border-left: 10px solid $color_green;
  }
  &.yellow {
    background-color: transparent;
    border-left: 10px solid $color_yellow;
  }
  &.red {
    background-color: transparent;
    border-left: 10px solid $color_red;
  }
  &.brown {
    background-color: transparent;
    border-left: 10px solid $color_brown;
  }
  &.grey {
    background-color: transparent;
    border-left: 10px solid $color_grey;
  }
  &.blue {
    background-color: transparent;
    border-left: 10px solid $brand_color;
  }
}
