
.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing_unit;
    padding-left: $spacing_unit;

    @extend %clearfix;
    max-width: 650px;
    .cover & {
      padding-top: 0;
      padding-bottom: $spacing_unit;
    }
    .page-content & {padding-top:0;}
    .chapter_title & {position:relative;}
}
