---
---
@charset "utf-8";

// variables
$base_rem_size: 16px;
$base_font_size:  1rem;
$base_font_weight: 300;
$base_line_height: 1.5;
// derivates
  $small_font-size:  $base_font_size * 0.875;
  $h1_font_size: $base_font_size*2;
  $h2_font_size: $base_font_size*1.65;
  $h3_font_size: $base_font_size*1.45;
  $h4_font_size: $base_font_size*1.30;
  $h5_font_size: $base_font_size*1.15;
  $h6_font_size: $base_font_size*1.05;

$spacing_unit: 30px;

$background_color: darken(#fff, 3%);
$text_color: #000;
$brand_color: hsla(213, 95%, 39%, 1); // #055ac2  rgba(5, 90, 194, 1)

$grey-color: #333333;
// derivs
 $grey-color-light: lighten($grey-color, 40%);
 $grey-color-dark:  darken($grey-color, 25%);
 $background_color_tone: lighten($brand_color, 35%);

// target needs CRAPPY PHONES Break-points here:
$mediaMinWidth: 320px;
$mediaBp1Width: 480px;
$mediaMaxWidth: 960px;


// Import partials from `_sass`
@import
 "base",
 "helpers",
 "svgs",
 "cmq",
 "code",
 "wrapper",
 "cover",
 "chapter",
 "nav",
 "page",
 "post",
 "index",
 "footer",
 "print"
;
