#address-bar {
  user-select: none;
  pointer-events: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:$background_color_tone;
  z-index: 1;
  height: 2em;
  padding-top: 0.25rem;
  padding-left: 0.25rem;
}
#address {
  user-select: none;
  pointer-events: none;
  cursor: pointer;
  background-color:$background_color_tone;
  position: relative;
  font-size: 1rem;
  height: 1.5rem;
  line-height: 1.5em;
  border: none;
  text-align: center;
  width: calc(100% - 0.5rem);
  //font-size: x-small;
}
